a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 28px;
  padding-top: 106.6px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.heading_container .heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1200px) {
  .heading_container .heading {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .heading_container .heading {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

.heading_container .heading h1 {
  color: #444;
  font: 35px "Merriweather", serif;
  font-weight: 600;
  line-height: normal;
}

.heading_container .heading p {
  color: #888;
  font: 16px "Droid Serif", serif;
  margin-bottom: 20px;
  line-height: 28px;
}

.advertisement {
  padding-bottom: 60px;
}

@media only screen and (min-width: 1200px) {
  .advertisement {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) {
  .advertisement {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

.advertisement .ad img {
  width: 300px;
  height: 300px;
}

.btn, .main_button, .second_button {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 600;
  color: "";
  line-height: "";
  padding: 15px 35px;
  margin: 6px 0;
  border-radius: 3px;
  cursor: pointer;
}

.main_button {
  background-color: #d86843;
  color: #fff;
  border: none;
}

.main_button:hover {
  background-color: #333;
}

.second_button {
  background-color: #ffce69;
  color: #333;
  margin-top: 20px;
}

.second_button:hover {
  background-color: #fff;
}

.page_button {
  background-color: #333;
  color: #fff;
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 600;
  color: "";
  line-height: 28px;
  border-radius: 4px;
  padding: 8px 18px;
  margin-right: 10px;
  outline: none;
  border: none;
}

.page_button:hover {
  background-color: #d86843;
}

.page_button.chosen {
  background-color: #d86843;
}

.main_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 2px solid rgba(0, 0, 0, 0.18);
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  line-height: "";
}

.main_input:focus {
  border: 2px solid #d86843;
  outline: none;
}

header {
  width: 100%;
  background-color: #d86843;
  color: #fff;
  position: fixed;
  top: 0;
  bottom: "";
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: "";
  bottom: "";
  left: "";
  right: "";
}

@media only screen and (min-width: 1200px) {
  header .header_container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  header .header_container {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

header .header_container .logo_box {
  padding: 20px 0;
}

@media only screen and (max-width: 600px) {
  header .header_container .logo_box {
    max-height: 55px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  header .header_container .logo_box {
    max-height: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  header .header_container .mobile_button,
  header .header_container .mobile_menu {
    display: none;
  }
  header .header_container navbar {
    padding: 30px 0;
  }
  header .header_container navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_container navbar ul li a {
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: "";
    padding: 12px 20px;
    margin: 0 5px;
    border-radius: 3px;
  }
  header .header_container navbar ul li a:hover {
    background-color: #333;
  }
  header .header_container navbar ul li a.chosen {
    background-color: #333;
  }
}

@media only screen and (max-width: 1200px) {
  header .header_container .mobile_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Merriweather", serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: "";
    position: fixed;
    top: "";
    bottom: "";
    left: "";
    right: 0;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50% 0px 0px 50%;
    z-index: 3;
  }
  header .header_container .hide {
    display: none;
  }
  header .header_container navbar {
    position: fixed;
    top: 0;
    bottom: "";
    left: "";
    right: 0;
    width: 100%;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
  }
  header .header_container navbar ul {
    position: fixed;
    top: "";
    bottom: "";
    left: "";
    right: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 15px;
    padding-top: 25px;
  }
  header .header_container navbar ul li a {
    display: block;
    font-family: "Merriweather", serif;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    line-height: "";
    padding: 15px 20px;
  }
}

.banner_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d86843;
  padding-top: 100px;
  margin-bottom: 100px;
}

.banner_container .banner_wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .banner_container .banner_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .banner_container .banner_wrapper {
    width: 100%;
  }
}

.banner_container .banner_wrapper .intro {
  color: #fff;
  max-width: 80%;
  margin-bottom: 20px;
}

.banner_container .banner_wrapper .intro h1 {
  font: 35px "Merriweather", serif;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 6px;
}

.banner_container .banner_wrapper .intro p {
  font: 16px "Droid Serif", serif;
  line-height: 28px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -60px;
}

@media only screen and (min-width: 1200px) {
  .slider_container {
    width: 1275px;
  }
}

@media only screen and (max-width: 1200px) {
  .slider_container {
    width: 100%;
  }
  .slider_container span {
    position: absolute;
    top: "";
    bottom: "";
    left: "";
    right: "";
  }
  .slider_container #leftButton {
    z-index: 1;
    left: 0;
  }
  .slider_container #rightButton {
    right: 0;
  }
}

.slider_container span {
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  line-height: "";
  cursor: pointer;
}

.slider_container span:hover {
  color: #333;
}

.slider_container .slider_inner {
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  .slider_container .slider_inner {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .slider_container .slider_inner {
    width: calc(100% - 75px);
    margin-right: 10px;
  }
}

.slider_container .slider_inner #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider_container .slider_inner #slider .img_1 {
  background-image: url(../images/book_8.jpg);
}

.slider_container .slider_inner #slider .img_2 {
  background-image: url(../images/book_7.jpg);
}

.slider_container .slider_inner #slider .img_3 {
  background-image: url(../images/book_9.jpg);
}

.slider_container .slider_inner #slider .img_4 {
  background-image: url(../images/book_10.jpg);
}

.slider_container .slider_inner #slider .img_5 {
  background-image: url(../images/book_11.jpg);
}

.slider_container .slider_inner #slider .img_6 {
  background-image: url(../images/book_12.jpg);
}

.slider_container .slider_inner #slider .img_7 {
  background-image: url(../images/book_15.jpg);
}

.slider_container .slider_inner #slider .slider_item {
  position: relative;
  background-position: center;
  background-size: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 270px;
  height: 400px;
  margin: 15px;
}

.slider_container .slider_inner #slider .slider_item:hover {
  background-size: 110%;
}

.slider_container .slider_inner #slider .slider_item .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  color: transparent;
}

.slider_container .slider_inner #slider .slider_item .overlay span {
  color: transparent;
}

.slider_container .slider_inner #slider .slider_item .overlay:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span h1 {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: "";
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: "";
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span h2 {
  font-family: "Droid Serif", serif;
  font-size: 22px;
  font-weight: 600;
  color: #d86843;
  line-height: "";
  margin-top: 15px;
  padding: 0;
}

.reviews_container {
  width: calc(100% - 30px);
  margin: 0 15px;
  position: relative;
  padding-top: 90px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 1200px) {
  .reviews_container .reviews_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .reviews_container .reviews_wrapper {
    width: 100%;
  }
}

.reviews_container .reviews_wrapper .reviews_head {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}

.reviews_container .reviews_wrapper .reviews_head span {
  font-family: "Merriweather", serif;
  font-size: 35px;
  font-weight: 600;
  color: "";
  line-height: "";
}

.reviews_container .reviews_wrapper .reviews {
  line-height: 28px;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .reviews_container .reviews_wrapper .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .reviews_container .reviews_wrapper .reviews {
    display: block;
  }
}

.reviews_container .reviews_wrapper .reviews .review_item {
  display: block;
  color: #444;
  background: url(../images/quotes.png) no-repeat 0px 0px;
  margin-bottom: 20px;
  margin-left: 2%;
  padding-left: 3%;
}

@media only screen and (min-width: 480px) {
  .reviews_container .reviews_wrapper .reviews .review_item {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .reviews_container .reviews_wrapper .reviews .review_item {
    width: 85%;
  }
}

.reviews_container .reviews_wrapper .reviews .review_item span {
  font: 18px "Droid Serif", serif;
  font-style: italic;
}

.reviews_container .reviews_wrapper .reviews .review_item span cite {
  display: block;
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 600;
  color: "";
  line-height: "";
  margin-top: 15px;
}

.news_container {
  width: 100%;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 1200px) {
  .news_container .news_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .news_container .news_wrapper {
    width: 100%;
  }
}

.news_container .news_wrapper .news_head {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}

.news_container .news_wrapper .news_head span {
  font-family: "Merriweather", serif;
  font-size: 35px;
  font-weight: 600;
  color: "";
  line-height: "";
}

.news_container .news_wrapper .news_posts {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .news_container .news_wrapper .news_posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .news_container .news_wrapper .news_posts {
    display: block;
  }
}

.news_container .news_wrapper .news_posts .news_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

@media only screen and (min-width: 480px) {
  .news_container .news_wrapper .news_posts .news_item {
    width: 33.3%;
  }
}

@media only screen and (max-width: 480px) {
  .news_container .news_wrapper .news_posts .news_item {
    width: 100%;
  }
}

.news_container .news_wrapper .news_posts .news_item img {
  width: 100%;
}

.news_container .news_wrapper .news_posts .news_item .news p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: #888;
  line-height: 28px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.news_container .news_wrapper .news_posts .news_item .news a h1 {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 28px;
  cursor: pointer;
}

.news_container .news_wrapper .news_posts .news_item .news a h1:hover {
  color: #d86843;
}

.news_container .news_wrapper .view_all {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.video_review_container {
  width: calc(100% - 30px);
  margin: 0 15px;
  padding-top: 70px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 1200px) {
  .video_review_container .video_review_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .video_review_container .video_review_wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 990px) {
  .video_review_container .video_review_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 990px) {
  .video_review_container .video_review_wrapper {
    display: block;
  }
}

.video_review_container .video_review_wrapper .video_review {
  height: 340px;
}

@media only screen and (min-width: 990px) {
  .video_review_container .video_review_wrapper .video_review {
    width: 50%;
  }
}

@media only screen and (max-width: 990px) {
  .video_review_container .video_review_wrapper .video_review {
    width: 100%;
  }
}

.video_review_container .video_review_wrapper .review_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d86843;
  color: #fff;
  min-width: 330px;
  padding: 45px;
}

@media only screen and (min-width: 990px) {
  .video_review_container .video_review_wrapper .review_box {
    width: 50%;
  }
}

@media only screen and (max-width: 990px) {
  .video_review_container .video_review_wrapper .review_box {
    width: 100%;
  }
}

.video_review_container .video_review_wrapper .review_box h1 {
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-weight: 600;
  color: "";
  line-height: 36px;
  padding-bottom: 6px;
}

.video_review_container .video_review_wrapper .review_box p {
  padding-top: 6px;
  padding-bottom: 5px;
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: "";
  line-height: 20px;
}

.video_review_container .video_review_wrapper .review_box .read_more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.writer_container {
  width: calc(100% - 30px);
  margin: 0 15px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 1200px) {
  .writer_container .writer_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .writer_container .writer_wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 990px) {
  .writer_container .writer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 990px) {
  .writer_container .writer_wrapper {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  .writer_container .writer_wrapper .writer {
    max-width: 67%;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .writer_container .writer_wrapper .writer {
    width: 100%;
    margin-bottom: 80px;
  }
}

.writer_container .writer_wrapper .writer .writer_head {
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-weight: 600;
  color: #000;
  line-height: "";
}

.writer_container .writer_wrapper .writer .writer_box {
  margin-top: 40px;
}

@media only screen and (min-width: 800px) {
  .writer_container .writer_wrapper .writer .writer_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .writer_container .writer_wrapper .writer .writer_box {
    display: block;
  }
}

.writer_container .writer_wrapper .writer .writer_box .writer_img {
  margin-right: 30px;
}

@media only screen and (max-width: 800px) {
  .writer_container .writer_wrapper .writer .writer_box .writer_img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

.writer_container .writer_wrapper .writer .writer_box .writer_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.writer_container .writer_wrapper .writer .writer_box .writer_info p {
  padding-top: 6px;
  padding-bottom: 5px;
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: "";
  line-height: 28px;
  margin-bottom: 10px;
}

.writer_container .writer_wrapper .writer .writer_box .writer_info p b {
  font-weight: 600;
}

.writer_container .writer_wrapper .writer .writer_box .writer_info span a {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: #d86843;
  line-height: 28px;
}

.writer_container .writer_wrapper .writer .writer_box .writer_info span a:hover {
  color: #333;
}

.writer_container .writer_wrapper .newsletter_box {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.writer_container .writer_wrapper .newsletter_box .newsletter_head {
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-weight: 600;
  color: "";
  line-height: 28px;
}

.writer_container .writer_wrapper .newsletter_box .newsletter_info {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: #444;
  line-height: 28px;
  padding-top: 10px;
  font-style: italic;
}

.writer_container .writer_wrapper .newsletter_box .newsletter_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 35px 0 0;
}

main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  main {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    display: block;
  }
}

main .login_container {
  margin-bottom: 60px !important;
  padding: 10px 0;
}

@media only screen and (min-width: 1200px) {
  main .login_container {
    width: 72%;
  }
}

@media only screen and (max-width: 1200px) {
  main .login_container {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

main .login_container .login_wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 4%;
  margin-right: 4%;
}

@media only screen and (min-width: 480px) {
  main .login_container .login_wrapper {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  main .login_container .login_wrapper {
    width: 98%;
  }
}

main .login_container .login_wrapper .login_head {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-weight: 600;
  color: #333;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-bottom: 6px;
}

main .login_container .login_wrapper .login_form .login_label {
  padding-bottom: 20px;
}

main .login_container .login_wrapper .login_form .login_label p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 600;
  color: #444;
  line-height: 28px;
}

main .login_container .login_wrapper .login_form .login_label input {
  max-width: 370px;
  margin: 0;
}

main .login_container .login_wrapper .login_form .remember_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  line-height: 28px;
  cursor: pointer;
}

main .login_container .login_wrapper .login_form .remember_me input {
  margin: 0;
  margin-right: 5px;
}

main .login_container .login_wrapper .login_form .remember_me p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 600;
  color: #444;
  line-height: "";
}

main .login_container .login_wrapper .login_form .remember_me:hover p {
  color: #888;
}

main .login_container .login_wrapper .login_form span a {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: #d86843;
  line-height: 28px;
}

main .login_container .login_wrapper .login_form span a:hover {
  color: #000;
}

main .login_container .login_wrapper .login_form .sign_in {
  margin-top: 20px;
  padding-bottom: 20px;
}

main .login_container span {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 5px;
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  line-height: 28px;
}

main .books_container {
  padding-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  main .books_container {
    width: 72%;
  }
}

@media only screen and (max-width: 1200px) {
  main .books_container {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

main .books_container .books_view {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main .books_container .books_view .grid_view, main .books_container .books_view .list_view {
  cursor: pointer;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  line-height: 36px;
  border-radius: 4px;
  margin-left: 6px;
}

main .books_container .books_view .grid_view.chosen, main .books_container .books_view .chosen.list_view {
  border: 1px solid #d86843;
  color: #d86843;
}

main .books_container .books_view .sort_by {
  margin-left: 6px;
}

main .books_container .books_view .sort_by select {
  background-color: rgba(0, 0, 0, 0.05);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  padding: 9px 8px 5px;
}

main .books_container .books_view .sort_by select:focus {
  outline: none;
}

main .books_container .books_wrapper {
  margin: 0 -15px !important;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  width: auto;
}

main .books_container .books_wrapper .book_post {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 14px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 850px) {
  main .books_container .books_wrapper .book_post {
    width: 33%;
  }
}

@media only screen and (max-width: 850px) {
  main .books_container .books_wrapper .book_post {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  main .books_container .books_wrapper .book_post {
    width: 100%;
  }
}

main .books_container .books_wrapper .book_post .book_cover img {
  width: 100%;
  height: auto;
}

main .books_container .books_wrapper .book_post .book_info {
  margin-top: 5px;
}

main .books_container .books_wrapper .book_post .book_info h1 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 600;
  color: #444;
  line-height: 30px;
}

main .books_container .books_wrapper .book_post .book_info .stars, main .books_container .books_wrapper .book_post .book_info .book_review {
  color: #f0b74a;
  font-size: 20px;
  line-height: 28px;
}

main .books_container .books_wrapper .book_post .book_info p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: #888;
  line-height: 28px;
  margin-top: 5px;
}

main .books_container .books_wrapper .book_post .book_info .book_review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .books_container .books_wrapper .book_post .book_info .book_review i {
  margin-right: 5px;
}

main .books_container .books_wrapper .book_post .book_info .book_review p {
  line-height: 28px;
  color: #333;
  font-size: 16px;
}

main .books_container .books_wrapper .book_post .book_info .book_review p a {
  color: #d86843;
}

main .books_container .books_wrapper .book_post .book_info span {
  font-family: "Droid Serif", serif;
  font-size: 25px;
  font-weight: 600;
  color: #d86843;
  line-height: "";
  padding-top: 6px;
  padding-bottom: 5px;
  display: block;
  margin: 5px 0;
}

main .books_container .page_buttons {
  padding: 15px 0;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  main aside {
    width: 25%;
  }
}

@media only screen and (max-width: 1200px) {
  main aside {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

main aside .newsletter_box {
  margin-bottom: 40px;
}

main aside .newsletter_box .newsletter_head {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-weight: 600;
  color: "";
  line-height: "";
}

main aside .newsletter_box .newsletter_info {
  padding-top: 10px;
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: #444;
  line-height: 28px;
  font-style: italic;
}

main aside .newsletter_box .newsletter_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 35px 0 0;
}

main aside .news_small {
  padding-bottom: 40px;
}

main aside .news_small .news_head {
  font-family: "Merriweather", serif;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  line-height: 30px;
  margin-bottom: 8px;
}

main aside .news_small ul {
  width: 100%;
}

main aside .news_small ul li {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main aside .news_small ul li .news_img {
  max-width: 30%;
}

main aside .news_small ul li .news_img img {
  width: 100%;
  height: auto;
}

main aside .news_small ul li .news_content {
  padding-left: 15px;
}

main aside .news_small ul li .news_content p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: #888;
  line-height: 140%;
}

main aside .news_small ul li .news_content a {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 140%;
}

main aside .news_small ul li .news_content a:hover {
  color: #d86843;
}

footer {
  width: 100%;
  background-color: #333;
}

@media only screen and (min-width: 1200px) {
  footer .footer_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  footer .footer_wrapper {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

@media only screen and (min-width: 690px) {
  footer .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

@media only screen and (max-width: 690px) {
  footer .footer_wrapper {
    display: block;
  }
  footer .footer_wrapper .copyright {
    text-align: center;
  }
  footer .footer_wrapper .social_media {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

footer .footer_wrapper .copyright {
  padding: 10px 0;
  color: #fff;
}

@media only screen and (min-width: 800px) {
  footer .footer_wrapper .copyright {
    max-width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  footer .footer_wrapper .copyright {
    width: 100%;
  }
}

footer .footer_wrapper .copyright h1 {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: "";
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 5px;
}

footer .footer_wrapper .copyright h1 a {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-weight: 400;
  color: #d86843;
  line-height: 20px;
}

footer .footer_wrapper .copyright p {
  padding-top: 6px;
  padding-bottom: 5px;
  font-family: "Droid Serif", serif;
  font-size: 14px;
  font-weight: 400;
  color: "";
  line-height: 28px;
  padding-top: 0;
}

footer .footer_wrapper .copyright p img {
  vertical-align: middle;
  padding-bottom: 3px;
}

footer .footer_wrapper .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 800px) {
  footer .footer_wrapper .social_media {
    max-width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  footer .footer_wrapper .social_media {
    width: 100%;
    padding-bottom: 20px;
  }
}

footer .footer_wrapper .social_media .social_item {
  border-width: 1px;
  border-style: solid;
  border-color: #979797;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  background: lighter(#333, 1);
  margin-right: 10px;
}

footer .footer_wrapper .social_media .social_item:hover {
  background-color: #ffce69;
  border-color: #ffce69;
}
/*# sourceMappingURL=style.css.map */