@mixin full_container {
    width: 100%;
}
@mixin full_container_margin {
    width: calc(100% - 20px);
    margin: 0 10px;
}
@mixin container {
    width: 1200px;
    margin: 0 auto;
}
@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin padding-6-5{
    padding-top: 6px;
    padding-bottom: 5px;
}