html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main_button {
  color: white;
  padding: 15px 35px;
  margin: 6px 0;
  background-color: #e27653;
  font: 16px "Droid Serif", serif;
  font-weight: bold;
  border-radius: 3px;
}

.main_button:hover {
  background-color: #333333;
}

header {
  width: 100%;
  background-color: #d86843;
}

header .header_container {
  position: relative;
  height: 105.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 1200px) {
  header .header_container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  header .header_container {
    width: 100%;
  }
}

header .header_container .logo_box {
  width: 200px;
  height: 65px;
  padding: 20px 0;
}

@media only screen and (min-width: 1200px) {
  header .header_container .mobile_button,
  header .header_container .mobile_menu {
    display: none;
  }
  header .header_container navbar {
    padding: 28px 0;
  }
  header .header_container navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_container navbar ul li a {
    font: 18px "Merriweather", serif;
    font-weight: 500;
    padding: 12px 20px;
    color: white;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 3px;
  }
  header .header_container navbar ul li a:hover {
    background-color: #333;
  }
  header .header_container navbar ul li a.chosen {
    background-color: #333;
  }
}

@media only screen and (max-width: 1200px) {
  header .header_container .mobile_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-size: 25px;
    width: 48px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  header .header_container .hide {
    display: none;
  }
  header .header_container navbar {
    width: 299px;
    height: 3537px;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
  header .header_container navbar .mobile_menu {
    font: 24px "Droid Serif", serif;
    font-weight: 500;
    padding: 10px 10px 10px 0;
    color: white;
    margin: 0 5px;
  }
  header .header_container navbar ul {
    padding-left: 15px;
    width: 284px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header_container navbar ul li a {
    display: block;
    font: 18px "Merriweather", serif;
    font-weight: 500;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }
}

.banner_container {
  width: 100%;
  background-color: #d86843;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
}

.banner_container .banner_wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .banner_container .banner_wrapper {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: -60px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner_container .banner_wrapper {
    width: 100%;
    margin-bottom: -60px;
  }
}

.banner_container .banner_wrapper .intro {
  color: white;
  max-width: 80%;
}

.banner_container .banner_wrapper .intro h1 {
  font: 35px "Merriweather", serif;
  font-weight: bold;
  margin-bottom: 6px;
}

.banner_container .banner_wrapper .intro p {
  font: 16px "Droid Serif", serif;
  line-height: 28px;
  margin-top: 6px;
  margin-bottom: 5px;
}

.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1200px) {
  .slider_container {
    width: 1275px;
  }
}

@media only screen and (max-width: 1200px) {
  .slider_container {
    width: 100%;
  }
  .slider_container span {
    position: absolute;
  }
  .slider_container #leftButton {
    z-index: 1;
    left: 0;
  }
  .slider_container #rightButton {
    right: 0;
  }
}

.slider_container span {
  font-size: 60px;
  color: white;
  cursor: pointer;
}

.slider_container span:hover {
  color: #333;
}

.slider_container .slider_inner {
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  .slider_container .slider_inner {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .slider_container .slider_inner {
    width: calc(100% - 75px);
    margin-left: 29px;
  }
}

.slider_container .slider_inner #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_container .slider_inner #slider .img_1 {
  background-image: url(../images/book_1.jpg);
}

.slider_container .slider_inner #slider .img_2 {
  background-image: url(../images/book_2.jpg);
}

.slider_container .slider_inner #slider .img_3 {
  background-image: url(../images/book_3.jpg);
}

.slider_container .slider_inner #slider .img_4 {
  background-image: url(../images/book_4.jpg);
}

.slider_container .slider_inner #slider .img_5 {
  background-image: url(../images/book_5.jpg);
}

.slider_container .slider_inner #slider .img_6 {
  background-image: url(../images/book_6.jpg);
}

.slider_container .slider_inner #slider .img_7 {
  background-image: url(../images/book_7.jpg);
}

.slider_container .slider_inner #slider .slider_item {
  position: relative;
  margin: 15px;
  width: 270px;
  height: 400px;
  background-position: center;
  background-size: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider_container .slider_inner #slider .slider_item:hover {
  background-size: 110%;
}

.slider_container .slider_inner #slider .slider_item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: transparent;
  text-align: left;
}

.slider_container .slider_inner #slider .slider_item .overlay span {
  color: transparent;
}

.slider_container .slider_inner #slider .slider_item .overlay:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Droid Serif", serif;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .slider_container .slider_inner #slider .slider_item .overlay:hover span {
    height: 92px;
  }
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span h1 {
  color: white;
  font-size: 18px;
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span p {
  color: white;
  font-size: 14px;
}

.slider_container .slider_inner #slider .slider_item .overlay:hover span h2 {
  color: #dd6e4b;
  font-size: 25px;
  margin-top: 15px;
  font-weight: bold;
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  .reviews_container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .reviews_container {
    width: 100%;
  }
}

.reviews_container .reviews_head {
  margin-top: 190px;
  display: block;
  text-align: center;
  padding-bottom: 40px;
}

.reviews_container .reviews_head span {
  font: 35px "Merriweather", serif;
  font-weight: bold;
}

.reviews_container .reviews {
  line-height: 28px;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .reviews_container .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .reviews_container .reviews {
    display: block;
  }
}

.reviews_container .reviews .review_item {
  color: #444444;
  display: block;
  text-align: center;
  background: url(../images/quotes.png) no-repeat 0px 0px;
  margin-bottom: 20px;
  margin-left: 2%;
  padding-left: 3%;
}

@media only screen and (min-width: 480px) {
  .reviews_container .reviews .review_item {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .reviews_container .reviews .review_item {
    width: 95%;
  }
}

.reviews_container .reviews .review_item span {
  text-align: center;
  font: 18px "Droid Serif", serif;
  font-style: italic;
}

.reviews_container .reviews .review_item span cite {
  display: block;
  margin-top: 15px;
  font: 14px "Droid Serif", serif;
  font-style: normal;
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .news_container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .news_container {
    width: 100%;
  }
}

.news_container .news_head {
  display: block;
  margin-top: 140px;
  text-align: center;
  padding-bottom: 40px;
}

.news_container .news_head span {
  font: 35px "Merriweather", serif;
  font-weight: bold;
}

.news_container .news_posts {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .news_container .news_posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .news_container .news_posts {
    display: block;
  }
}

.news_container .news_posts .news_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

@media only screen and (min-width: 480px) {
  .news_container .news_posts .news_item {
    width: 33.3%;
  }
}

@media only screen and (max-width: 480px) {
  .news_container .news_posts .news_item {
    width: 100%;
  }
}

.news_container .news_posts .news_item img {
  width: 100%;
}

.news_container .news_posts .news_item .news {
  line-height: 28px;
  font-family: "Droid Serif", serif;
}

.news_container .news_posts .news_item .news p {
  font-size: 14px;
  color: #888888;
  padding-top: 12px;
  padding-bottom: 5px;
}

.news_container .news_posts .news_item .news h1 {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}

.news_container .news_posts .news_item .news h1:hover {
  color: #dd6e4b;
}

.news_container .view_all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  padding-top: 6px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */