main {
  .books_container {
    padding-bottom: $padding-elg * 2;
    @media only screen and (min-width: 1200px) {
      width: 72%;
    }
    @media only screen and (max-width: 1200px) {
      @include full_container_margin;
    }
    .books_view {
      @include full_container;
      @include flex(flex, row, flex-end, center, nowrap);
      padding-bottom: $padding-md * 2;
      margin-bottom: $margin-lg * 2;
      border-bottom: $border-width-sm solid rgba(0, 0, 0, 0.1);
      .grid_view {
        @include pointer;
        @include text-align(center);
        @include width-height($bookView, $bookView);
        border: $border-width-sm solid $view-border-color;
        line-height: $line_height-elg;
        border-radius: $border-radius-lg;
        margin-left: $margin-sm * 2;
        &.chosen {
          border: $border-width-sm solid $main-bg-color;
          color: $price_link_color;
        }
      }
      .list_view {
        @extend .grid_view;
      }
      .sort_by {
        margin-left: $margin-sm * 2;
        select {
          background-color: rgba(0, 0, 0, 0.05);
          @include border(
            $border-width-sm,
            solid,
            rgba(0, 0, 0, 0.13),
            $border-radius-lg
          );
          padding: $padding-sm * 3 $padding-esm * 4 $padding-md;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .books_wrapper {
      margin: 0 -1 * $margin-md * 3 !important;
      min-width: 100%;
      @include flex(flex, row, left, "", wrap);
      width: auto;
      .book_post {
        @media only screen and (min-width: 850px) {
          width: 33%;
        }
        @media only screen and (max-width: 850px) {
          width: 50%;
        }
        @media only screen and (max-width: 480px) {
          @include full_container;
        }
        @include border-box;
        padding: 0 $padding-esm * 7;
        margin-bottom: $margin-elg * 2;
        .book_cover {
          img {
            @include full_container;
            height: auto;
          }
        }
        .book_info {
          margin-top: $margin-md;
          h1 {
            @include font(
              $merriweather,
              $font_size-books,
              $bold,
              $third-text-color,
              $line_height-lg
            );
          }
          .stars {
            color: $stars-color;
            font-size: $font_size-books;
            line-height: $line_height-md;
          }
          p {
            @include font(
              $droid_serif,
              $font_size-esm,
              $normal,
              $sub-text-color,
              $line_height-md
            );
            margin-top: $margin-md;
          }
          .book_review {
            @extend .stars;
            @include flex(flex, row, left, center, nowrap);
            i {
              margin-right: $margin-md;
            }
            p {
              line-height: $line_height-md;
              color: $secondary-text-color;
              font-size: $font_size-sm;
              a {
                color: $price_link_color;
              }
            }
          }
          span {
            @include font($droid_serif, $font_size-section-head, $bold, $price_link_color,"");
            @include padding-6-5;
            @include display(block);
            margin: $margin-md 0;
          }
        }
      }
    }
    .page_buttons {
      padding: $padding-md * 3 0;
      @include text-align(center);
    }
  }
  aside {
    @media only screen and (min-width: 1200px) {
      width: 25%;
    }
    @media only screen and (max-width: 1200px) {
      @include full_container_margin;
    }
    .newsletter_box {
      margin-bottom: $margin-elg * 2;
      .newsletter_head {
        @include font($merriweather, $font_size-section-head, $bold, "", "");
      }
      .newsletter_info {
        padding-top: $padding-md * 2;
        @include font($droid_serif, $font_size-esm, $normal, $third-text-color, $line_height-md);
        font-style: italic;
      }
      .newsletter_subscribe {
        @include display(flex);
        padding: $padding-md * 3 $padding-lg * 3.5 0 0;
      }
    }
    .news_small {
      padding-bottom: $padding-elg * 2;
      .news_head {
        @include font($merriweather, $font_size-lg, $bold, $secondary-text-color, $line_height-lg);
        margin-bottom: $margin-esm * 4;
      }
      ul {
        @include full_container;
        li {
          padding: $padding-md * 3 0;
          @include display(flex);
          .news_img {
            max-width: 30%;
            img {
              @include full_container;
              height: auto;
            }
          }
          .news_content {
            padding-left: $padding-md * 3;
            p {
              @include font($droid_serif, $font_size-esm, $normal, $sub-text-color, $line_height-news);
            }
            a {
              @include font($droid_serif, $font_size-sm, $bold, $secondary-text-color, $line_height-news);
              &:hover {
                color: $price_link_color;
              }
            }
          }
        }
      }
    }
  }
}
