main {
  @include res_container_margin;
  @include res_display(1200px);
  justify-content: space-between;
  .login_container {
    @media only screen and (min-width: 1200px) {
      width: 72%;
    }
    @media only screen and (max-width: 1200px) {
      @include full_container_margin;
    }
    margin-bottom: $margin-elg * 3 !important;
    padding: $padding-md * 2 0;
    .login_wrapper {
      @media only screen and (min-width: 480px) {
        width: 48%;
      }
      @media only screen and (max-width: 480px) {
        width: 98%;
      }
      @include border-box;
      border-right: $border-width-sm solid rgba(0, 0, 0, 0.1);
      padding-right: 4%;
      margin-right: 4%;
      .login_head {
        @include font(
          $merriweather,
          $font_size-section-head,
          $bold,
          $secondary-text-color,
          $line_height-lg
        );
        margin-top: $margin-md * 2;
        margin-bottom: $margin-esm * 4;
        padding-bottom: $padding-sm * 2;
      }
      .login_form {
        .login_label {
          padding-bottom: $padding-lg * 2;
          p {
            @include font(
              $droid_serif,
              $font_size-esm,
              $bold,
              $third-text-color,
              $line_height-md
            );
          }
          input {
            max-width: 370px;
            margin: 0;
          }
        }
        .remember_me {
          @include flex(flex, row, left, center, nowrap);
          margin-bottom: $margin-esm * 4;
          line-height: $line_height-md;
          @include pointer;
          input {
            margin: 0;
            margin-right: $margin-md;
          }
          p {
            @include font(
              $droid_serif,
              $font_size-esm,
              $bold,
              $third-text-color,
              ""
            );
          }
          &:hover {
            p {
              color: $sub-text-color;
            }
          }
        }
        span {
          a {
            @include font(
              $droid_serif,
              $font_size-sm,
              $normal,
              $price_link_color,
              $line_height-md
            );
            &:hover {
              color: $black;
            }
          }
        }
        .sign_in {
          margin-top: $margin-lg * 2;
          padding-bottom: $padding-lg * 2;
        }
      }
    }
    span {
      @include full_container;
      @include padding-6-5;
      @include font(
        $droid_serif,
        $font_size-sm,
        $normal,
        $third-text-color,
        $line_height-md
      );
    }
  }
}
