.banner_container {
  @include full_container;
  background-color: $orange;
  @include center;
  padding-top: $biggest_font*2;
  .banner_wrapper {
    text-align: center;
    @media only screen and (min-width: 1200px) {
      @include container;
    }
    @media only screen and (max-width: 1200px) {
      @include full_container;  
    }
    margin-bottom: -60px;
    @include center;
    flex-direction: column;
    .intro {
      color: $white;
      max-width: 80%;
      margin-bottom: $normal-px*4;
      h1 {
        font: $biggest_font $merriweather;
        font-weight: bold;
        line-height: $bigger_font*2;
        margin-bottom: $small-px*2;
      }
      p {
        font: $standart_font $droid_serif;
        line-height: $line_height;
        @include padding-6-5;
      }
    }
  }
}
