.banner_container {
  @include full_container;
  @include center;
  background-color: $main-bg-color;
  padding-top: $padding-elg * 5;
  margin-bottom: $margin-elg*5;
  .banner_wrapper {
    @include text-align(center);
    @include res_container;
    @include center;
    flex-direction: column;
    .intro {
      color: $main-text-color;
      max-width: 80%;
      margin-bottom: $margin-lg * 2;
      h1 {
        font: $font_size-elg $merriweather;
        font-weight: $bold;
        line-height: $line_height-intro;
        margin-bottom: $margin-sm * 2;
      }
      p {
        font: $font_size-sm $droid_serif;
        line-height: $line_height-md;
        @include padding-6-5;
      }
    }
  }
}
