footer {
  @include full_container;
  background-color: $footer;
  .footer_wrapper {
    @include res_container_margin;
    @media only screen and (min-width: 690px) {
      display: flex;
      justify-content: space-between;
    }
    @media only screen and (max-width: 690px) {
      display: block;
      .copyright{
          text-align: center;
      }
      .social_media{
          justify-content: center !important;
      }
    }
    .copyright {
      padding: $padding-x 0;
      color: $white;
      @media only screen and (min-width: 800px) {
        max-width: 50%;
      }
      @media only screen and (max-width: 800px) {
        width: 100%;
      }
      h1 {
        padding-top: 12px;
        padding-bottom: $padding-x/2;
        font: 15px $droid_serif;
        line-height: 20px;
        a {
          font: 15px $droid_serif;
          line-height: 20px;
          color: $orange;
        }
      }
      p {
        @include padding-6-5;
        padding-top: 0;
        font: $small_font $droid_serif;
        line-height: $line_height;
        img {
          vertical-align: middle;
          padding-bottom: 3px;
        }
      }
    }
    .social_media {
      @media only screen and (min-width: 800px) {
        max-width: 50%;
      }
      @media only screen and (max-width: 800px) {
        width: 100%;
        padding-bottom: $padding-x*2;
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .social_item {
        width: 45px;
        height: 45px;
        background: #292929;
        border: 1px solid #979797;
        margin-right: 3px;
        border-radius: 50%;
        @include center;
        img {
          height: auto;
          width: auto;
        }
        &:hover {
          background-color: $yellow;
          border-color: $yellow;
        }
      }
    }
  }
}
