footer {
  @include full_container;
  background-color: $secondary-bg-color;
  .footer_wrapper {
    @include res_container_margin;
    @media only screen and (min-width: 690px) {
      @include flex(flex, row, space-between, left, nowrap);
    }
    @media only screen and (max-width: 690px) {
      @include display(block);
      .copyright {
        @include text-align(center);
      }
      .social_media {
        justify-content: center !important;
      }
    }
    .copyright {
      padding: $padding-md * 2 0;
      color: $main-text-color;
      @media only screen and (min-width: 800px) {
        max-width: 50%;
      }
      @media only screen and (max-width: 800px) {
        @include full_container;
      }
      h1 {
        @include font(
          $droid_serif,
          $font_size-sm,
          $normal,
          "",
          $line_height-esm
        );
        padding-top: $padding-sm * 4;
        padding-bottom: $padding-md;
        a {
          @include font(
            $droid_serif,
            $font_size-sm,
            $normal,
            $price_link_color,
            $line_height-esm
          );
        }
      }
      p {
        @include padding-6-5;
        @include font(
          $droid_serif,
          $font_size-esm,
          $normal,
          "",
          $line_height-md
        );
        padding-top: 0;
        img {
          vertical-align: middle;
          padding-bottom: $padding-sm;
        }
      }
    }
    .social_media {
      @media only screen and (min-width: 800px) {
        max-width: 50%;
      }
      @media only screen and (max-width: 800px) {
        @include full_container;
        padding-bottom: $padding-lg * 2;
      }
      @include flex(flex, row, flex-end, center, nowrap);
      .social_item {
        @include border(
          $border-width-sm,
          solid,
          $sm_link-border-color,
          $border-radius-half
        );
        @include center;
        @include width-height($social-box, $social-box);
        background: lighter($secondary-bg-color, 1);
        margin-right: $margin-lg;
        &:hover {
          background-color: $secondary_btn_color;
          border-color: $secondary_btn_color;
        }
      }
    }
  }
}
