header {
  @include full_container;
  @include b-t-color($main-bg-color, $main-text-color);
  @include position(fixed, 0, 0, 0, "");
  z-index: 5;
  box-shadow: $menu-box-shadow;
  .header_container {
    @include flex(flex, row, space-between, center, nowrap);
    @include position(relative, "", "", "", "");
    @include res_container_margin;
    .logo_box {
      @media only screen and (max-width: $main_bp/2) {
        max-height: $logoHeight - 10px;
        margin-left: $margin-md * 2;
      }
      @media only screen and (max-width: $main_bp/2) {
        max-height: $logoHeight;
      }
      padding: $padding-lg * 2 0;
    }
    @media only screen and (min-width: $main_bp) {
      .mobile_button,
      .mobile_menu {
        @include display(none);
      }
      navbar {
        padding: $padding-lg * 3 0;
        ul {
          @include flex(flex, row, center, center, nowrap);
          li {
            a {
              @include font(
                $merriweather,
                $font_size-md,
                $l_bold,
                $main-text-color,
                ""
              );
              padding: $padding-esm * 6 $padding-lg * 2;
              margin: 0 $margin-md;
              border-radius: $border-radius-md;
              &:hover {
                background-color: $secondary-bg-color;
              }
              &.chosen {
                background-color: $secondary-bg-color;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: $main_bp) {
      .mobile_button {
        @include center;
        @include font(
          $merriweather,
          $font_size-lg,
          $normal,
          $main-text-color,
          ""
        );
        @include position(fixed, "", 0, "", "");
        width: $mobileMenuBtn;
        height: $mobileMenuBtn;
        background-color: $menu-hover-bg-color;
        border-radius: $border-radius-half 0px 0px $border-radius-half;
        z-index: 3;
      }
      .hide {
        @include display(none);
      }
      navbar {
        @include position(fixed, 0, 0, "", "");
        @include full_box;
        width: $navbarWidth;
        background-color: $menu-hover-bg-color;
        z-index: 5;
        ul {
          @include position(fixed, "", "", "", "");
          @include flex(flex, column, flex-start, flex-start, nowrap);
          padding-left: $padding-md * 3;
          padding-top: $padding-md * 5;
          li {
            a {
              @include display(block);
              @include font($merriweather, $font_size-lg,$l_bold,$main-text-color,"");
              padding: $padding-md * 3 $padding-lg * 2;
            }
          }
        }
      }
    }
  }
}
