header {
  @include full_container;
  background-color: $orange;
  .header_container {
    position: relative;
    @include res_container;
    height: 105.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    .logo_box {
      width: 200px;
      height: 65px;
      padding: $normal-px*4 0;
    }
    @media only screen and (min-width: 1200px) {
      .mobile_button,
      .mobile_menu {
        display: none;
      }
      navbar {
        padding: $line_height 0;
        ul {
          display: flex;
          align-items: center;
          li {
            a {
              font: $normal_font $merriweather;
              font-weight: 500;
              padding: $small-px*4 $normal-px*4;
              color: $white;
              margin: 0 $normal-px;
              text-decoration: none;
              border-radius: $small-px;
              &:hover {
                background-color: $footer;
              }
            }
            a.chosen {
              background-color: $footer;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 1200px) {
      .mobile_button {
        @include center;
        color: $white;
        font-size: $bigger_font;
        width: 48px;
        height: 42px;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        right: 0;
        z-index: 3;
        cursor: pointer;
      }
      .hide {
        display: none;
      }
      navbar {
        width: 299px;
        height: 3537px;
        position: fixed;
        z-index: 5;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        ul {
          position: fixed;
          padding-left: $normal-px*3;
          width: 284px;
          display: flex;
          flex-direction: column;
          padding-top: $bigger_font;
          li {
            a {
              display: block;
              font: $normal_font $merriweather;
              font-weight: 500;
              padding: $normal-px*3 $normal-px*4;
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
