.news_container {
  @include full_container;
  @include relative;
  margin-top: $margin-elg * 3.5;
  margin-bottom: $margin-elg * 3.5;
  .news_wrapper {
    @include res_container;
    .news_head {
      @include display(block);
      @include text-align(center);
      padding-bottom: $padding-elg * 2;
      span {
        @include font($merriweather, $font_size-elg, $bold, "", "");
      }
    }
    .news_posts {
      @include full_container;
      @include res_display(480px);
      .news_item {
        @media only screen and (min-width: 480px) {
          width: 33.3%;
        }
        @media only screen and (max-width: 480px) {
          @include full_container;
        }
        @include border-box;
        padding: $padding-md * 3;
        img {
          @include full_container;
        }
        .news {
          p {
            @include font(
              $droid_serif,
              $font_size-esm,
              $normal,
              $sub-text-color,
              $line_height-md
            );
            padding-top: $padding-md * 2;
            padding-bottom: $padding-md;
          }
          a {
            h1 {
              @include font(
                $droid_serif,
                $font_size-md,
                $bold,
                $secondary-text-color,
                $line_height-md
              );
              @include pointer;
              &:hover {
                color: $price_link_color;
              }
            }
          }
        }
      }
    }
    .view_all {
      @include full_container;
      @include padding-6-5;
      @include center;
      margin-top: $margin-lg * 2;
    }
  }
}
