.news_container {
  @include full_container;
  .news_wrapper {
    @include res_container;
    .news_head {
      display: block;
      margin-top: $biggest-px*14;
      text-align: center;
      padding-bottom: $biggest-px*4;
      span {
        font: $biggest_font $merriweather;
        font-weight: bold;
      }
    }
    .news_posts {
      width: 100%;
      @include res_display;
      .news_item {
        @media only screen and (min-width: 480px) {
          width: 33.3%;
        }
        @media only screen and (max-width: 480px) {
          width: 100%;
        }
        box-sizing: border-box;
        padding: $normal-px*3;
        img {
          width: 100%;
        }
        .news {
          line-height: $line_height;
          font-family: $droid_serif;
          p {
            font-size: $small_font;
            color: #888888;
            padding-top: $small-px*3;
            padding-bottom: $normal-px;
          }
          a {
            text-decoration: none;
            h1 {
              font-size: $normal_font;
              color: $footer;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                color: $orange;
              }
            }
          }
        }
      }
    }
    .view_all {
      width: 100%;
      @include center;
      margin-top: $biggest-px*4;
      padding-top: $small-px*2;
      padding-bottom: $normal-px;
    }
  }
}
