.reviews_container {
  @include full_container_margin;
  .reviews_wrapper {
    @include res_container;
    .reviews_head {
      margin-top: $biggest-px*19;
      display: block;
      text-align: center;
      padding-bottom: $biggest-px*4;
      span {
        font: $biggest_font $merriweather;
        font-weight: bold;
      }
    }
    .reviews {
      line-height: $line_height;
      width: 100%;
      @media only screen and (min-width: 480px) {
        display: flex;
      }
      @media only screen and (max-width: 480px) {
        display: block;
      }
      .review_item {
        @media only screen and (min-width: 480px) {
          width: 45%;
        }
        @media only screen and (max-width: 480px) {
          width: 95%;
        }
        color: #444444;
        display: block;
        text-align: center;
        background: url(../images/quotes.png) no-repeat 0px 0px;
        margin-bottom: $biggest-px*2;
        margin-left: 2%;
        padding-left: 3%;
        span {
          text-align: center;
          font: $normal_font $droid_serif;
          font-style: italic;
          cite {
            display: block;
            margin-top: $normal-px*3;
            font: $small_font $droid_serif;
            font-style: normal;
            font-weight: bold;
          }
        }
      }
    }
  }
}
