.video_review_container {
  @include full_container_margin;
  padding-top: $padding-elg * 3.5;
  margin-bottom: $margin-elg * 3.5;
  .video_review_wrapper {
    @include res_container;
    @include res_display(990px);
    .video_review {
      height: $videoReviewHeight;
      @media only screen and (min-width: 990px) {
        width: 50%;
      }
      @media only screen and (max-width: 990px) {
        @include full_container;
      }
    }
    .review_box {
      @include border-box;
      @include b-t-color($main-bg-color, $main-text-color);
      min-width: $videoReviewHeight - 10px;
      padding: $padding-lg * 4.5;
      @media only screen and (min-width: 990px) {
        width: 50%;
      }
      @media only screen and (max-width: 990px) {
        @include full_container;
      }
      h1 {
        @include font($merriweather, $font_size-lg, $bold, "", $line_height-elg);
        padding-bottom: $padding-sm * 2;
      }
      p {
        @include padding-6-5;
        @include font($droid_serif, $font_size-sm, $normal, "",$line_height-esm);
      }
      .read_more {
        @include full_container;
        @include display(flex);
      }
    }
  }
}
