.video_review_container {
  @include full_container_margin;
  margin-top: $biggest-px*14;
  .video_review_wrapper {
    @media only screen and (min-width: 1200px) {
      @include container;
    }
    @media only screen and (max-width: 1200px) {
      @include full_container;
    }
    @media only screen and (min-width: 990px) {
      display: flex;
    }
    @media only screen and (max-width: 990px) {
      display: block;
    }

    .video_review {
        height: 338px;
      @media only screen and (min-width: 990px) {
        width: 50%;
      }
      @media only screen and (max-width: 990px) {
        @include full_container;
      }
    }
    .review_box {
      box-sizing: border-box;
      min-width: 338px;
      background-color: $orange;
      color: $white;
      padding: $biggest-px*4+5px;
      @media only screen and (min-width: 990px) {
        width: 50%;
      }
      @media only screen and (max-width: 990px) {
        @include full_container;
      }
      h1 {
        font: $bigger_font $merriweather;
        padding-bottom: $small-px*2;
        font-weight: bold;
        line-height: $biggest_font+1px;
      }
      p {
        font: $standart_font $droid_serif;
        padding-top: $small-px*2;
        padding-bottom: $normal-px;
        line-height: $line_height - 4px;
      }
      .read_more {
        width: 100%;
        display: flex;
      }
    }
  }
}
