.writer_container {
  @include full_container_margin;
  padding-top: $padding-elg * 3.5;
  padding-bottom: $padding-elg * 3.5;
  margin-bottom: $margin-elg * 3.5;
  .writer_wrapper {
    @include res_container;
    @include res_display(990px);
    .writer {
      @media only screen and (min-width: 800px) {
        max-width: 67%;
        padding-right: $padding-lg * 3;
      }
      @media only screen and (max-width: 800px) {
        @include full_container;
        margin-bottom: $margin-elg * 4;
      }
      .writer_head {
        @include font($merriweather, $font_size-lg, $bold, $black, "");
      }
      .writer_box {
        @include res_display(800px);
        margin-top: $margin-elg * 2;
        .writer_img {
          @media only screen and (max-width: 800px) {
            @include full_container;
            @include flex(flex, row, center, center, nowrap);
            margin-bottom: $margin-lg * 2;
          }
          margin-right: $margin-lg * 3;
          img {
            @include width-height($profilImg, $profilImg);
            border-radius: $border-radius-half;
          }
        }
        .writer_info {
          p {
            @include padding-6-5;
            @include font(
              $droid_serif,
              $font_size-sm,
              $normal,
              "",
              $line_height-md
            );
            margin-bottom: $margin-md * 2;
            b {
              font-weight: $bold;
            }
          }
          span {
            a {
              @include font(
                $droid_serif,
                $font_size-sm,
                $normal,
                $price_link_color,
                $line_height-md
              );
              &:hover {
                color: $secondary-text-color;
              }
            }
          }
        }
      }
    }
    .newsletter_box {
      background-color: rgba(0, 0, 0, 0.05);
      padding: $padding-lg * 3;
      .newsletter_head {
        @include font($merriweather, $font_size-lg, $bold, "", $line_height-md);
      }
      .newsletter_info {
        @include font(
          $droid_serif,
          $font_size-esm,
          $normal,
          $third-text-color,
          $line_height-md
        );
        padding-top: $padding-lg;
        font-style: italic;
      }
      .newsletter_subscribe {
        @include display(flex);
        padding: $padding-md * 3 $padding-lg * 3.5 0 0;
      }
    }
  }
}
