.writer_container {
  @include full_container_margin;

  margin-top: 140px;
  margin-bottom: 140px;
  .writer_wrapper {
    @include res_container;
    @include res_display;
    .writer {
      @media only screen and (min-width: 800px) {
        max-width: 67%;
        padding-right: $padding-x * 3;
      }
      @media only screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: $margin-x * 8;
      }
      .writer_head {
        font: $bigger_font $merriweather;
        font-weight: bold;
      }
      .writer_box {
        margin-top: $margin-x * 4;
        @include res_display;
        .writer_img {
          @media only screen and (max-width: 480px) {
            width: 100%;
          }
          margin-right: $margin-x * 3;
          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          }
        }
        .writer_info {
          p {
            @include padding-6-5;
            margin-bottom: $margin-x;
            font: $standart_font $droid_serif;
            line-height: $line_height;
            b {
              font-weight: bold;
            }
          }
          span {
            a {
              color: $orange;
              font: $standart_font $droid_serif;
              &:hover {
                color: $footer;
              }
            }
          }
        }
      }
    }
    .newsletter_box {
      background-color: rgba(0, 0, 0, 0.05);
      padding: $padding-x * 3;
      .newsletter_head {
        font: $bigger_font $merriweather;
        font-weight: bold;
      }
      .newsletter_info {
        padding-top: $padding-x;
        font: $small_font $droid_serif;
        line-height: $line_height;
        font-style: italic;
        color: $black;
      }
      .newsletter_subscribe {
        display: flex;
        padding: 15px 35px 0 0;
      }
    }
  }
}
