.main_button{
    color: $white;
    padding: 15px 35px;
    margin: 6px 0;
    background-color: $orange;
    font: $standart_font $droid_serif;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    &:hover{
        background-color: $footer;
    }
}
.second_button{
    color: $footer;
    padding: 15px 35px;
    margin: 20px 0 6px 0;
    background-color: $yellow;
    font: $standart_font $droid_serif;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background-color: $white;
    }
}

.page_button{
    background: $footer;
    border-radius: 4px;
    color: #fff;
    padding: 8px 18px;
    margin-right: 10px;
    font-size: 16px;
    font-family: $droid_serif;
    outline: none;
    border: none;
    line-height: $line_height;
    font-weight: bold;
    &:hover{
        background-color: $orange;
    }
    &.chosen{
        background-color: $orange;
    }
}