.btn {
  @include font($droid_serif, $font_size-sm, $bold, "", "");
  padding: $padding-md * 3 $padding-lg * 3.5;
  margin: $margin-sm * 2 0;
  border-radius: $border-radius-md;
  @include pointer;
}
.main_button {
  @extend .btn;
  @include b-t-color($main-bg-color, $main-text-color);
  border: none;
  &:hover {
    background-color: $secondary-bg-color;
  }
}
.second_button {
  @extend .btn;
  @include b-t-color($secondary_btn_color, $secondary-text-color);
  margin-top: $margin-lg * 2;
  &:hover {
    background-color: $white;
  }
}

.page_button {
  @include b-t-color($secondary-bg-color, $main-text-color);
  @include font($droid_serif, $font_size-sm, $bold, "", $line_height-md);
  border-radius: $border-radius-lg;
  padding: $padding-esm * 4 $padding-sm * 6;
  margin-right: $margin-md * 2;
  outline: none;
  border: none;
  &:hover {
    background-color: $main-bg-color;
  }
  &.chosen {
    background-color: $main-bg-color;
  }
}
