.main_input {
  @include border-box;
  @include display(block);
  @include full_container;
  padding: $padding-sm*4;
  margin-top: $margin-sm*4;
  border: $border-width-md solid rgba(0,0,0,.18);
  @include font($droid_serif, $font_size-sm, $normal, $input-text-color,"");
  &:focus {
    border: $border-width-md solid $main-border-color;
    outline: none;
  }
}
