.main_input {
  padding: $small-px*4;
  margin-top: $small-px*4;
  display: block;
  border: 2px solid rgba(0,0,0,.18);
  font: $normal-px*3 $droid_serif;
  color: #666;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    border: 2px solid $orange;
    outline: none;
  }
}
