.slider_container {
  @media only screen and (min-width: $main_bp) {
    width: $main_bp + 75px;
  }
  @media only screen and (max-width: $main_bp) {
    @include full_container;
    span {
      @include position(absolute, "", "", "", "");
    }
    #leftButton {
      z-index: 1;
      left: 0;
    }
    #rightButton {
      right: 0;
    }
  }
  @include flex(flex, row, center, center, nowrap);
  margin-bottom: -3 * $margin-elg;
  span {
    @include font($merriweather, $font_size-big, $normal, $main-text-color, "");
    @include pointer;
    &:hover {
      color: $secondary-text-color;
    }
  }
  .slider_inner {
    @media only screen and (min-width: $main_bp) {
      @include full_container;
    }
    @media only screen and (max-width: $main_bp) {
      width: calc(100% - 75px);
      margin-right: $margin-lg * 1;
    }
    @include O-hidden;
    #slider {
      @include display(flex);
      @include O-hidden;
      .img_1 {
        background-image: url(../images/book_8.jpg);
      }
      .img_2 {
        background-image: url(../images/book_7.jpg);
      }
      .img_3 {
        background-image: url(../images/book_9.jpg);
      }
      .img_4 {
        background-image: url(../images/book_10.jpg);
      }
      .img_5 {
        background-image: url(../images/book_11.jpg);
      }
      .img_6 {
        background-image: url(../images/book_12.jpg);
      }
      .img_7 {
        background-image: url(../images/book_15.jpg);
      }
      .slider_item {
        @include relative;
        @include photo-effect;
        @include book_box;
        margin: $margin-md * 3;
        .overlay {
          @include flex(flex, column, flex-end, flex-start, nowrap);
          @include full_box;
          @include position(absolute, 0, 0, 0, 0);
          @include text-align(left);
          color: $transparent;
          span {
            color: $transparent;
          }
          &:hover {
            @include border-box;
            span {
              @include flex(flex, column, flex-end, flex-start, nowrap);
              padding: $padding-md * 2;
              h1 {
                @include font(
                  $droid_serif,
                  $font_size-md,
                  $bold,
                  $main-text-color,
                  ""
                );
              }
              p {
                @include font(
                  $droid_serif,
                  $font_size-esm,
                  $normal,
                  $main-text-color,
                  ""
                );
              }
              h2 {
                @include font(
                  $droid_serif,
                  $font_size-lg,
                  $bold,
                  $price_link_color,
                  ""
                );
                margin-top: $margin-md * 3;
                padding: 0;
              }
            }

            background-color: rgba($black, 0.5);
          }
        }
      }
    }
  }
}
