.slider_container {
  @media only screen and (min-width: 1200px) {
    width: 1275px;
  }
  @media only screen and (max-width: 1200px) {
    width: 100%;
    span {
      position: absolute;
    }
    #leftButton {
      z-index: 1;
      left: 0;
    }
    #rightButton {
      right: 0;
    }
  }
  display: flex;
  align-items: center;

  span {
    font-size: 60px;
    color: $white;
    cursor: pointer;
    &:hover {
      color: $footer;
    }
  }
  .slider_inner {
    @media only screen and (min-width: 1200px) {
      width: 100%;
    }
    @media only screen and (max-width: 1200px) {
      width: calc(100% - 75px);
      margin-left: 29px;
    }

    overflow: hidden;
    #slider {
      display: flex;
      .img_1 {
        background-image: url(../images/book_8.jpg);
      }
      .img_2 {
        background-image: url(../images/book_7.jpg);
      }
      .img_3 {
        background-image: url(../images/book_9.jpg);
      }
      .img_4 {
        background-image: url(../images/book_10.jpg);
      }
      .img_5 {
        background-image: url(../images/book_11.jpg);
      }
      .img_6 {
        background-image: url(../images/book_12.jpg);
      }
      .img_7 {
        background-image: url(../images/book_15.jpg);
      }
      .slider_item {
        position: relative;
        margin: $margin-y;
        width: 270px;
        height: 400px;
        background-position: center;
        background-size: 100%;
        transition: all 0.5s ease;
        &:hover {
          background-size: 110%;
        }
        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          color: transparent;
          text-align: left;
          span {
            color: transparent;
          }
          &:hover {
            box-sizing: border-box;
            font-family: $droid_serif;
            span {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              @media only screen and (max-width:1200px) {
                height: 92px;
              }
              padding: $padding-x;
              h1 {
                color: $white;
                font-size: $normal_font;
              }
              p {
                color: $white;
                font-size: $small_font;
              }
              h2 {
                color: $orange;
                font-size: $line_height;
                margin-top: $margin-y;
                font-weight: bold;
                padding: 0;
              }
            }

            background-color: rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
    }
  }
}
