.heading_container {
  @include full_container;
  margin-top: $biggest-px * 3;
  margin-bottom: $biggest-px * 5;
  .heading {
    @include res_container_margin;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    h1 {
      color: $black;
      font: $biggest_font $merriweather;
      font-weight: bold;
      line-height: normal;
    }
    p {
      color: $gray;
      font: $standart_font $droid_serif;
      margin-bottom: $biggest-px * 2;
      line-height: $line_height;
    }
  }
}
.advertisiment {
  @media only screen and (min-width: 1200px) {
    width: 25%;
  }
  @media only screen and (max-width: 1200px) {
    @include full_container_margin;
  }
  padding-bottom: $biggest-px * 6;
  .ad {
    line-height: 140%;
    img {
      width: 300px;
      height: 300px;
    }
  }
}
