// Colors
$black: #444444;
$gray: #888888;
$orange: #d86843;
$white: #fff;
$footer: #333;
$yellow: #ffce69;
$stars:#F0B74A;
$shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3);

// Spacing 
$margin-x: 10px;
$padding-x: 10px;
$margin-y: 15px;
$padding-y: 15px;